body{
	height: 1000px;
	padding: 0px;
	margin: 0px;
	background: #fffefe;
}
h1,h2,h3,h4,p,span{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	padding: 0px;
	opacity: 0.8;
}
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}



/*HEADER SECTION*/
.index-header{
	display: flex;
	justify-content: center;
	padding: 30px 30%;
	height: 40px;
	background: #323232;
	top: 0;
	position: sticky;
	overflow: visible;
	box-sizing: content-box;
}

.index-header-section{
	display: flex;
	align-items: end;
}

.index-header-text{
	margin: 0px 30px;
	color: #bdbdbd;
	cursor: pointer;
	opacity: 1;
	white-space: nowrap;
}
.active{
	color: #328b74;
}
.index-header-image-container{
	background: #323232;
	height: 100px;
	height: 130px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.index-header-image{
	height: 100px;
	width: 100px;
	transition: all 1s ease-in-out;
}
.arrowUp{
transform: rotate(90deg);
}
.arrowDown{
transform: rotate(270deg);
}


/*MAIN CONTENT ("body") SECTION*/
.main-content{

}


/*CAROUSEL SECTION*/
.carousel-container{
border-top: 2px solid #f5f5f4;
border-bottom: 2px solid #f5f5f4;
margin-top: 10px;
margin: 20px;
}
.carousel-honeycomb{
}
.honeycomb-row{
display: flex;
justify-content: center;
width: 100%;
}
.honeycomb-row :first-child{
padding-left: 20px;
border-left: 2px solid #f5f5f4;
}
.honeycomb-row :last-child{
padding-right: 20px;
border-right: 2px solid #f5f5f4;
}
.top{
	padding-top: 50px;
}
.bottom{
	padding-bottom: 50px;
}
.middle :first-child{
padding-left: 10px;
border-left: none;
}
.middle :last-child{
padding-right: 10px;
border-right: none;
}
.carousel-image{
height: 200px;
width: 200px;
object-fit: cover;
margin: 30px;
box-sizing: content-box;
}



/*ABOUT ME SECTION*/
.about-me-wrapper{
display: flex;
height: 400px;
padding: 10px;
background: #2eb299;
}
.style-hack{
width: 100px;
height: 100%;
border-bottom: 1px solid #229c83;
}
.about-me-container{
	display: flex;
	align-items: center;
background: transparent;
height: 100%;
width: 100%;
padding: 40px 20px;
border-left: 1px solid #229c83;
border-right: 1px solid #229c83;
border-bottom: 1px solid #229c83;

}
.profile-picture{
height: 200px;
width: 200px;

}
.about-me-text{
padding: 0px 20px;
}
.name{
color: #fffefe;;
font-weight: lighter;
}
.title{
color: #16957a;
font-weight: lighter;
margin-bottom: 10px;
opacity: 1;
}
.description{
color: #fffefe;
line-height: 1.5;
}



/*CONTACT SECTION*/
.contact-wrapper{
	display: flex;
background: #323333;
padding: 50px 150px;
width: 100%;
}
.form-container{
display: flex;
flex-direction: column;
}
.form-header{
color: #fffefe;
font-weight: lighter;
}
.form-description{
color: #fffefe;
font-weight: lighter;
margin-bottom: 20px;
}
.form-row{
	display: flex;
}
.form{
display: flex;
flex-direction: column;
width: 100%;

}
.text-input{
background: #454444;
color: #959494;
margin: 5px 0px;
padding: 10px;
border: none;

}
.text-input::placeholder{
color: #fffefe;
opacity: 0.7;
}
.text-input:focus{
outline: none;
}
.message-input{
height: 150px;
resize: none;
}

.form-button{
width: 80px;
height: 50px;
background: #2eb299;
color: #fffefe;
align-self: end;
border: none;
cursor: pointer;
}

.contact-information{
padding: 0px 20px;
width: 20%;
}
.contact-information b,p{
	color: #fffefe;
}
